/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Color de fondo claro */
    color: #0F3061; /* Color de texto primario */
}

.sidebar {
    background-color: #0F3061; /* Color primario para la barra lateral */
    color: white; /* Color de texto en la barra lateral */
}

.navbar {
    background-color: #0097CD; /* Color secundario para la barra de navegación */
    color: white; /* Color de texto en la barra de navegación */
}

.login-container {
    background-color: #E5F8F6; /* Color de fondo para el contenedor de inicio de sesión */
    padding: 20px;
    border-radius: 5px;
}

button {
    background-color: #0097CD; /* Color secundario para botones */
    color: white; /* Color de texto en botones */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #65D7CA; /* Color de acento para hover en botones */
}
